# Node
## Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Dependency directories
node_modules

# macOS files
.DS_Store

# other
test-results/
test-summary/
../user-data/
build
docker-compose.yml
dev-server.local.pem
.vscode
.storybook
.git
.github
