# General
.DS_Store
Thumbs.db

# Secrets
.env
dev-server.local.pem
tmp-vault-seeder
vault.json
ssl.crt
ssl.key

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Node
node_modules
npm-debug.log
server

# external project dependencies
build
clients
test-site

# Playwright
tests-out
test-results
test-summary
/playwright/.cache/
