# General
.env
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Node
node_modules
npm-debug.log
bitwarden-clients-0.0.0.tgz
clients

# Playwright
build/*
!build/PUT_EXTENSION_BUILD_HERE
tests-out
test-results
playwright-report
--cache-strategy
/playwright/.cache/
